<p id="notice"><%= notice %></p>

<h1>Articles</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Brand</th>
      <th>Model</th>
      <th>Quantity</th>
      <th>Purchase date</th>
      <th>Amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.description %></td>
        <td><%= article.brand %></td>
        <td><%= article.model %></td>
        <td><%= article.quantity %></td>
        <td><%= article.purchase_date %></td>
        <td><%= article.amount %></td>
        <td><%= link_to 'Show', article %></td>
        <td><%= link_to 'Edit', edit_article_path(article) %></td>
        <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Article', new_article_path %>
