<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @article.description %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @article.brand %>
</p>

<p>
  <strong>Model:</strong>
  <%= @article.model %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @article.quantity %>
</p>

<p>
  <strong>Purchase date:</strong>
  <%= @article.purchase_date %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @article.amount %>
</p>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
